* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
}

.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container > div:nth-child(1){
    margin-bottom: 100px;
    border: 2px solid black;
    padding: 10px;
    display: flex;
    gap: 10px;
    font-size: 48px;
    font-weight: bold;
}

.container > div:nth-child(1) > div {
    border: 1px solid black;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.game > div:nth-child(1) {
    display: flex;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    width: 300px;
    gap: 2px;
    border: 2px solid black;
}

.p2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.5s;
}

.restartDiv {
    margin-top: 70px;
}

.restartDiv > button {
    padding : 5px 10px;
    border: none;
    background-color: black;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
.restartDiv > button:hover {
    padding: 5px 20px;
    scale: 1.1;
}

.won {
    background-color: gold;
    opacity: 0.6;
}

.winnerDiv {
    margin-top: 100px;
}